footer {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(29, 30, 40);
    color: white;
    text-align: center;
    padding-bottom: 12.5px;
    
}

span {
    color: rgb(72, 217, 249);
}

footer p {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}